* {
  margin:0px;
  padding:0px;
}

#octocat {
  display: block;
  width:384px;
  margin: 50px auto;
}

p {
  display: block;
  width: 500px;
  margin: 25px auto;
  font: 30px Monaco,"Courier New","DejaVu Sans Mono","Bitstream Vera Sans Mono",monospace;
  border: 2px solid #545454;
  border-radius: 5px;
  background-color: white;

}

p.titel{
  display: block;
  widows: 400px;
  margin: 50px auto;
  font: 15px Monaco,"Courier New","DejaVu Sans Mono","Bitstream Vera Sans Mono",monospace;
 background-color: lightblue ;
    border-left:0px;
    border-right: 0px;
    border-bottom:0px;
    border-radius: 0px;
}


body{
  background-color: lightblue ;
}

#one{
  display: block;
  width:150px;
  margin: 50px auto;

}
