* {
  margin:0px;
  padding:0px;
}

#octocat {
  display: block;
  width:384px;
  margin: 50px auto;
}

p {
  display: block;
  width: 500px;
  margin: 25px auto;
  font: 30px Monaco,"Courier New","DejaVu Sans Mono","Bitstream Vera Sans Mono",monospace;
  border: 2px solid #545454;
  border-radius: 5px;
  background-color: white;

}

#title{
  display: block;
  widows: 400px;
  margin-left: 50px auto;
  font: 16px Monaco,"Courier New","DejaVu Sans Mono","Bitstream Vera Sans Mono",monospace;
  background-color: lightblue;
  border-bottom: 0px;
  border-left: 0px;
  border-right: 0px;
  border-radius: 0%;
}


body{
  background-color: lightblue ;
}

#one{
  display: inline-block ;
  width: 15%;
  margin-left: 33%;
  padding: -10px;
  padding-bottom: 25px;
  
}

#two{
  display: inline-block ;
  width: 15%;
  padding-left: 50px;
  padding-bottom: 25px;

}


#topmenu{
  margin-top: 15px;
  font: 30px Monaco,"Courier New","DejaVu Sans Mono","Bitstream Vera Sans Mono",monospace;
}


#topmenu.li{
  display: inline;
 
  

}
div {background-color: rgb(22, 84, 126);}

div a {
  text-decoration: none;
  color: white;
  font-size: 25px;
  padding: 25px;
  display:inline-block;
}

div a:hover{
  background-color: #124669
}

#topmenu {
  display: inline;
  margin: 0;
  padding: 0;
}
#topmenu li {display: inline-block;}
#topmenu li:hover {background: #124669;}
#topmenu li:hover ul {display: block;}
#topmenu li ul {
  position: absolute;
  width: 245px;
  display: none;
}
#submenu li { 
  background: #124669; 
  display: block; 
}
#submenu li a {display:block !important;} 
#submenu li:hover {background: rgb(22, 84, 126);}



